<% page = {
	'title' : 'HTML5/CSS3 Journeyman',
	'key': 'HTML5/CSS3 Journeyman'
} %>



<% assets = {
	'css' : ['html5css3/journeyman.css'],
	'js' : []
} %>

<div ng-app id="main" data-page-name="home">
	<div class="no-layout">
		<h1 class="with-tasks">HTML5/CSS3 Journeyman
			<!-- Button to trigger modal -->
			<button href="#task-modal" role="button" class="btn-tasks btn btn-primary btn-small" data-toggle="modal">See tasks</button>
		</h1>
		<hr/>
		<%- partial('partials/journeyman_nav') %>

		<section>
			<div class="container marketing">

				<!-- START THE FEATURETTES -->


				<div class="row featurette clearfix">
				<hr class="featurette-divider clearfix">
					<div class="image-wrapper col-md-5 ">
						<img class="featurette-image img-responsive hidden-sm" src="<%- img('photos/cityscape_500Square.jpg') %>" data-src="holder.js/500x500/auto" alt="Cityscape">
					</div>
					<div class="col-md-7 ">
						<h2 class="featurette-heading">The unexpected is our normal routine. <span class="text-muted">But of course.</span></h2>
						<p class="lead"><mark>Then maybe you should consider this:</mark> if anything happens to them, Starfleet is going to want a full investigation. Flair is what marks the difference between artistry and mere competence. Mr. Crusher, ready a collision course with the Borg ship. I suggest you drop it, Mr. Data. Could someone survive inside a transporter buffer for 75 years? Computer, belay that order.</p>
					</div>
					<hr class="featurette-divider">
				</div>



				<div class="row featurette clearfix">
					<div class="image-wrapper col-md-5 ">
						<img class="featurette-image img-responsive hidden-sm" src="<%- img('photos/cloudcast_500Square.jpg') %>" data-src="holder.js/500x500/auto" alt="CloudCast">
					</div>
					<div class="col-md-7 p">
						<h2 class="featurette-heading">Take the ship into the Neutral Zone <span class="text-muted">Extraordinary.</span></h2>
						<p class="lead">You're going to be an interesting companion, Mr. Data. I am your worst nightmare! Fate protects fools, little children and ships named Enterprise. Not if I weaken first. You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice. But the probability of making a six is no greater than that of rolling a seven.</p>
					</div>
					<hr class="featurette-divider">
				</div>



				<div class="row featurette clearfix">
					<div class="image-wrapper col-md-5 p">
						<img class="featurette-image img-responsive hidden-sm" src="<%- img('photos/forestfernscape_500Square.jpg') %>" data-src="holder.js/500x500/auto" alt="Forest Fernscape">
					</div>
					<div class="col-md-7 ">
						<h2 class="featurette-heading">Yesterday I did not know how to eat gagh. <span class="text-muted">Indeed.</span></h2>
						<p class="lead">You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice. and attack the Romulans. What? We're not at all alike! Now we know what they mean by 'advanced' tactical training.</p>
					</div>
					<hr class="featurette-divider">
				</div>



				<!-- /END THE FEATURETTES -->

			</div>
		</section>

	</div>
</div>

<%- partial('partials/journeyman_tasks') %>