<% page = {
	'title' : 'HELLO WORLD',
	'key': 'HELLO WORLD!!!'
} %>
<% assets = {
	'css' : ['hello.css'],
	'js' : ['angular.min.js','petController.js']
} %>

<div ng-app id="main" class="experiments" ng-controller="PetListCtrl">
  <div class="no-layout">
    <h1 class="font21 serif"><%- i18n('hello_title')%></h1>
    <section class="basic">
      <p>
        <%- i18n('hello_message')%> <img src="<%= img('icon/arrow_left_white_11x11.png') %>" alt="">
      </p>
      <p>Person: <%= person.name %>, Title: <%= person.title %>, Weapon of choice: <%= person.weapon %></p>
      <h2>Pets:</h2>
      <!--<% for (var i=0;i<pets.length;i++){%>
      	<p>Name: <%= pets[i].name %>, Breed: <%= pets[i].breed %></p>
      <%}%>-->
      <ul>
      	<li ng-repeat="pet in pets">
		      {{pet.name}}
		      <p>{{pet.breed}}</p>
		    </li>
      </ul>
    </section>
  </div>
</div>